<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>メモ一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
</head>

<body>
    <div class="container">
		<form th:action="@{/memo/admin/logout}" method="post" style="text-align: end; margin-bottom: 5px;">
		<button type="submit">ログアウト</button>
		</form>
		
        <div class="header">
            <h1 class="app-title">メモ一覧</h1>
            <a th:href="@{/memo/new}" class="btn btn-primary">
                <i class="ri-add-circle-line"></i> 新規メモ
            </a>
            <form th:action="@{/memo/search}" method="get" class="search">
				<input type="text" name="keyword"
				class="form-control" placeholder="検索キーワード">
				<button type="submit" class="btn btn-outline-primary">
					<i class="ri-search-line"></i>検索
				</button>
				</form>
        </div>


        <div class="notes-grid">
            <div class="note-card" th:each="memo : ${memos}">
                <div class="note-card-header">
                    <h3 class="note-card-title" th:text="${memo.title}">タイトル</h3>
                    <span th:if="${memo.priority}" 
              			  th:class="'note-badge ' + ${memo.priority.name().toLowerCase()}"
              			  th:text="${memo.priority.label}">
        			</span>
                </div>
                <div class="note-card-content">
                    <p class="note-card-text" th:text="${memo.content}">内容</p>
                </div>
                <div class="note-card-footer">
                    <p class="note-date" th:text="${#temporals.format(memo.createdAt, 'yyyy/MM/dd HH:mm')}">日付</p>
                    <div class="note-actions">
                        <a th:href="@{|/memo/detail/${memo.id}|}" class="btn btn-primary">詳細</a>
                        <a th:href="@{|/memo/delete/${memo.id}|}" class="btn btn-danger">
                            削除
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${memos.isEmpty()}" class="empty-state">
            <p>メモがありません</p>
            <a th:href="@{/memo/new}" class="btn btn-primary">新しいメモを作成</a>
        </div>
    </div>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>